
  <img src="/img/3.jpg" alt="" class="img-fluid">


  </div>
  <div class="container-fluid">
  </div>
  <div class="features">
    <div class="f1">
      <img src="https://img.icons8.com/ios/50/000000/ingredients-for-cooking.png" />
      <p class="t"><b>Ingredients</b></p>
      <hr>
      <p class="d">Sed egestas, ante vulputa eros pede vitae luctus metus augue.</p>
    </div>
    <div class="f2">
      <img
        src="https://img.icons8.com/external-victoruler-outline-victoruler/64/000000/external-restaurant-food-and-delivery-victoruler-outline-victoruler-1.png" />
      <p class="t"><b>Recipe</b></p>
      <hr>
      <p class="d">Our food quality is very nice.User satisfaction is our moto.Let us serve you.</p>
    </div>
    <div class="f3">
      <img
        src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/64/000000/external-restaurant-hotel-xnimrodx-lineal-xnimrodx.png" />
      <p class="t"><b>Clients</b></p>
      <hr>
      <p class="d">Our food quality is very nice.User satisfaction is our moto.Let us serve you.</p>
    </div>
    <div class="f4">
      <img src="https://img.icons8.com/ios/50/000000/vegan-food.png" />
      <p class="t"><b>Menu</b></p>
      <hr>
      <p class="d">Our food quality is very nice.User satisfaction is our moto.Let us serve you.</p>
    </div>
  </div>
  <div class="our_story">
  <div class="d1">
    <h3>Our Story</h3>
    This project aims to create online restaurant menu system which is need of the hour in corona times. The main motive
    is to maintain distance and contact of customer from restaurant's staff as this system supports online menu and online
    payment facility.
    User can login into the website using phone number/e-mail. Photographs of food items are available in the menu and
    site has varied other facilities like add to cart, view cart, customize food item, place order, cancel order etc..
  </div>
  
  <div class="d2">
    <img src="img/patrick-tomasso-GXXYkSwndP4-unsplash (1).jpg" alt="image" />
  </div>
  </div>
  
  <div class="opening_hours">
    <div class="left_side">
      <img src="img/albert-YYZU0Lo1uXE-unsplash.jpg" alt="image" />
    </div>
  
    <div class="right_side">
      <h4>OPENING TIMINGS</h4>
      <ul class="table">
        <li>
          <span>SATUDAY:</span>
          <div class="pull-right">9.30 am - 11.30 pm</div>
        </li>
        <li>
          <span>SUNDAY:</span>
          <div class="pull-right">9.30 am - 11.30 pm</div>
        </li>
        <li>
          <span>MONDAY:</span>
          <div class="pull-right">9.30 am - 11.30 pm</div>
        </li>
        <li>
          <span>TUESDAY:</span>
          <div class="pull-right">9.30 am - 11.30 pm</div>
        </li>
        <li>
          <span>WEDNESDAY:</span>
          <div class="pull-right">9.30 am - 1.30 pm</div>
        </li>
        <li>
          <span>THUSDAY:</span>
          <div class="pull-right">9.30 am - 10.00 pm</div>
        </li>
        <li>
          <span>FRIDAY:</span>
          <div class="pull-right">CLOSE</div>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="container">
  
    <p class="title">
    <h3 style="text-align: center">Our Special Items</h3>
    </p>
  
    <div class="best_dishes">
      <div class="one">
        <img src="/img/1.png" alt=""  class="pizza"/>
        <div class="data">
          <p class="name">Product_Name</p>
          <hr>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorum vitae totam quibusdam natus placeat?
            Neque, ab blanditiis
          </p>
          <button>Add to cart</button>
        </div>
      </div>
      <div class="two">
        <img src="/img/2.png" alt="" class="pizza" />
        <div class="data">
          <p class="name">Product_Name</p>
          <hr>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorum vitae totam quibusdam natus placeat?
            Neque, ab blanditiis
          </p>
          <button>Add to cart</button>
        </div>
      </div>
      <div class="three">
        <img src="/img/3.png" alt="" class="pizza" />
        <div class="data">
          <p class="name">Product_Name</p>
          <hr>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorum vitae totam quibusdam natus placeat?
            Neque, ab blanditiis
          </p>
          <button class="add-to-cart">Add to cart</button>
          <!-- <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span></button> -->
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="footer">
    <div class="first">
      <img src="img/Online.png" alt="">
      <p>Welcome to Our Software. Company About here. </p>
      <p class="this">wlocome to Our Software. Company About here.</p>
      <!-- <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-whatsapp"></i></a></li> -->
  
    </div>
    <div class="second">
      <h4>Opening Time</h4>
      <div class="in_second">
        <p><strong>Monday - Wednesday</strong>&nbsp;10:00 AM - 7:00 PM</p>
        <p><strong>Thursday - Friday</strong>&nbsp;10:00 AM - 11:00 PM</p>
        <p><strong>Saturday</strong>&nbsp;12:00 PM - 6:00 PM</p>
        <p><strong>Sunday</strong>&nbsp;Off</p>
      </div>
    </div>
    <div class="third">
      <h4>Contact Us</h4>
      <div class="footer_widget_body">
        <div class="footer_link">
          <p>356, Mannan Plaza ( 4th Floar ) Khilkhet Dhaka</p>
          <p><a href="#">support@foodexpress.com</a></p>
          <p><a href="#">+91 7384635276</a></p>
        </div>
      </div>
    </div>
  </div>