* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 9%;
  margin-bottom: 9%;
  background-image: url("/img/dark-green-yellow-abstract-blurred-background-shining-colorful-illustration-in-blur-style-new-side-for-your-design-vector.jpg");
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 525px;
  width: 800px;
  border: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}

.login-img {
  height: 526px !important;
  width: 98rem !important;
}

.get-started {
  font-weight: 700;
  font-size: x-large;
  font-style: "Gilroy", serif;
}
.get-started .text {
  margin-bottom: 0;
}

.sign-text .sign-up-text {
  font-size: medium;
  word-spacing: 2px;
  opacity: 97%;
}
.sign-text a {
  text-decoration: none;
}

.input-name {
  border: 0;
  background-color: #f7f7f7;
  height: 3rem;
  width: 20rem;
  border-radius: 5px;
  padding: 10px;
  margin-top: 12px;
}

.input-cpassword {
  border: 0;
  background-color: #f7f7f7;
  height: 3rem;
  width: 20rem;
  border-radius: 9px;
  margin-bottom: 2rem;
  padding: 10px;
}

.input-phone {
  border: 0;
  background-color: #f7f7f7;
  height: 3rem;
  width: 20rem;
  border-radius: 9px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 10px;
}

.input-password {
  border: 0;
  background-color: #f7f7f7;
  height: 3rem;
  width: 20rem;
  border-radius: 9px;
  margin-bottom: 1rem;
  padding: 10px;
}

.login-btn {
  height: 3rem;
  width: 20rem;
  border-radius: 9px;
  background-color: #ffca40;
  border: none;
  margin-bottom: 15px;
}

.login-btn:hover {
  background-color: #ea4335;
}

.form {
  margin: 2rem 0;
}

.add-ch-signup {
  text-decoration: none;
  margin: 0 2rem;
  margin-left: 2rem;
  width: 20rem;
  margin-left: 140px;
}

.add-ch-signup:hover {
  color: #ea4335;
}
