* {
    margin: 0;
    padding: 0;
}

body {
    .navbar {
        background-color: rgb(0, 0, 0) !important;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        height: 75px;
        margin-bottom: 80px;
    }

    .navbar-brand {
        height: auto;
        width: 50%;
        margin-left: -62px;
    }

    .nav-item {
        padding: 15px;
    }

    .nav-link {
        color: rgb(250, 250, 250) !important;
        font-weight: 600 !important;
    }

    .nav-link:hover {
        color: rgb(0, 180, 0) !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

body .navbar {
    background-color: black !important;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

body .navbar-brand {
    height: auto;
    width: 50%;
}

body .nav-item {
    padding: 15px;
}

body .nav-link {
    color: white !important;
    font-weight: 600 !important;
}

body .nav-link:hover {
    color: green !important;
}

.our_story {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}

.d1 {
    width: 50vw;
    padding: 20px;
    margin: 10px;
    margin-left: 50px;
    /* border-right: 2px solid gray; */
}

.d2 {
    width: max-content;
    z-index: -1;
    display: block;
    /* margin-left: auto; */
}

.d2 img {
    width: 30vw;
    height: 20vw;
    display: block;
    margin-left: 25%;
    filter: hue-rotate(180deg) saturate(2);
    /* opacity: .8; */
    box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, .2);
}

.opening_hours {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}

.left_side {
    width: 50%;
    z-index: -1;
    display: block;
}

.left_side img {
    width: 35vw;
    height: 25vw;
    margin-left: 20%;
    display: block;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .2);
}

.right_side {
    width: 50%;
    padding: 20px;
    float: right;
    align-items: center;
}

.right_side h4 {
    text-align: center;
    width: fit-content;
    margin-left: 22%;
}

.table {
    width: fit-content;
    list-style-type: none;
    /* float: right; */
    margin-left: 12%;
    /* align-items: center; */
}

.table li {
    margin: 30px;
    padding: 10px;
    width: 30vw;
    /* justify-content: space-between; */
}

.table li span {
    float: left;
    display: inline;
}

.pull-right {
    float: right;
    display: inline;
    width: fit-content;
}

.container_ {
    width: 100%;
    /* border: 2px solid red; */
    /* background: url(/Rms/Rms/public/img/white-gold-geometric-pattern-background-vector_53876-140726.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    /* color: white; */
}

.best_dishes {
    display: flex;
    padding: 30px;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.one,
.two,
.three {
    justify-content: center;
    /* width: min-content; */
    margin: 25px;
    padding: 15px;
    /* border: 2px solid rgb(172, 170, 170); */
    text-align: center;
    background-color: rgba(128, 128, 128, 0.05);
    width: 45%;
    /* border-right: 1px solid black; */
    /* background-color: transparent;*9* */
}

.one img,
.two img,
.three img {
    width: 20vw;
    height: 20vw;
    padding: 5px;
    cursor: pointer;
    vertical-align: middle;
    background-color: transparent;
}

.one img:hover,
.two img:hover,
.three img:hover {
    transform: scale(1.1);
    transition: all 500ms ease;
}

.data {
    padding: 5px;
    margin: 10px;
    width: fit-content;
}

.data p {
    text-align: center;
}

.data .description{
    height: 12vh;
}

.data button {
    background-color: #55d686;
    color: #fbfafa;
    padding: 5px;
    border-radius: 10px;
    width: 8vw;
    text-align: center;
}

.footer {
    background-color: black;
    color: white;
    padding: 30px;
    width: 100%;
    display: flex;
}

.this {
    margin-top: -15px;
}

.first img {
    width: 15vw;
    height: 5vw;
    margin-left: -20px;
    margin-bottom: 10px;
}

.second h4,
.third h4 {
    margin-bottom: 20px;
}

.first,
.second,
.third {
    margin: 20px;
    width: 33vw;
}

.footer_link p a {
    text-decoration: none;
    color: rgb(0, 255, 0);
}

.pizza {
    cursor: pointer;
}

.pizza:hover {
    transform: scale(1.1);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.features {
    /* width: 80%; */
    /* background: url(/Rms/Rms/public/img/image.png); */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.f1,
.f2,
.f3,
.f4 {
    align-content: center;
    margin: 30px;
    justify-content: center;
    width: 20%;
    float: right;
    margin: 20px;
    /* background-color: rgba(128, 128, 128, 0.1); */
    padding: 20px;
    align-items: center;
    text-align: center;
}

.t {
    font-size: 20px;
}

.f1 .t,
.f4 .t {
    margin-top: 13px;
}

@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

// body {
//     font-family: 'Lato', sans-serif;
//     -webkit-font-smoothing: antialiased;
//     color: $dark;
// }

nav li:last-child a {
    background: $primary;

    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: $smooth;

    &:hover {
        color: $primary;
    }
}

// section.hero {
//     background: $secondary;
// }
.size {
    background: $secondary;
}

.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;

    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }

    &:focus {
        outline: none;
    }
}

.btn-primary {
    background: $primary;
    transition: $smooth;

    &:hover {
        background: $primary-hover;
    }
}

section.cart {
    background: $secondary;

    .amount {
        color: $primary;
    }
}

section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);

    a {
        color: $primary;

        &:hover {
            color: $primary-hover;
        }
    }
}

.noty_theme__mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}

a.link {
    color: $primary;
}

section.status {
    background: $secondary;
    min-height: calc(100vh - 86px);
}

.status-box {
    padding: 60px 0 0;
}

.status-box ul {
    margin-left: 84px;
}

.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

// Dots
.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $secondary;
}

// Icons
.status-box ul li span:before {
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}

.status-box ul li:nth-child(1) span:before {
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before {
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}

.status-box ul li {
    position: relative;
}

// Line
.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}

// Last dot
.status-box ul li:nth-child(5) span:after {
    box-shadow: 0 20px 1px 20px $secondary;
}

// line
.status-box ul li.step-completed:before {
    background: $gray;
}

// dots
.status-box ul li.step-completed span:after {
    background: $gray;
}

// text
.status-box ul li.step-completed span {
    color: $gray;
}

// Current status
.status-box ul li.current span {
    color: $primary;
}

.status-box ul li.current span:after {
    background: $primary;
}

.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-top: 8px;
}

@media(max-width:1060px) {
    .container {
        max-width: 90%;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media(max-width: 768px) {
    .status-box ul li span:before {
        font-size: 34px;
    }
}

.StripeElement {
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    height: 40px;
    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}