*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 9%;
    margin-bottom: 9%;
    background-image: url('/img/dark-green-yellow-abstract-blurred-background-shining-colorful-illustration-in-blur-style-new-side-for-your-design-vector.jpg');
}
.card
{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 480px;
    width: 800px;
    border: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 15px;
}
.login-img{
    // border-top-left-radius: 20px;
        height: 480px!important;
        width: 56rem!important;
}
.get-started{
    font-weight: 700;
    font-size: x-large;
    font-style: "Gilroy", serif;
    .text{
        margin-bottom: 0;
    }
}
.sign-text{
    .sign-up-text{
        font-size:medium;
        word-spacing: 2px;
        opacity: 97%;
    }
    a{
        text-decoration: none;
    }
}
.input-name{
    border: 0;
    background-color: #f7f7f7;
    height: 3rem;
    width: 20rem;
    border-radius: 5px;
    padding: 10px;  
}
.input-cpassword{
    border: 0;
    background-color: #f7f7f7;
    height: 3rem;
    width: 20rem;
    border-radius: 9px;
    margin-bottom: 2rem;
    padding: 10px;  
}
.input-phone{
    border: 0;
    background-color: #f7f7f7;
    height: 3rem;
    width: 20rem;
    border-radius: 9px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 10px;   
}
.input-password{
    border: 0;
    background-color: #f7f7f7;
    height: 3rem;
    width: 20rem;
    border-radius: 9px;
    margin-bottom: 1rem;   
    padding: 10px;
}
.login-btn{
    height: 3rem;
    width: 20rem;
    // margin-bottom: 1rem;
    border-radius: 9px;
    background-color: #ffca40;
    border: none;
}
.login-btn:hover{
    background-color: #ea4335;
}
.form{
    margin: 2rem 0;

}
// h6{
//     margin-left: 42%;
// }
.add-ch-login{
    text-decoration: none;
    margin-left: 1rem;
    margin:0 1rem;
    text-align: center;
}
.add-ch-login:hover{
    color: #ea4335;
}